@import "tailwindcss";

html body {
  background-color: black;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.geist-font-700 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.geist-font-500 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.geist-font-300 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.background-img {
  position: relative;
  min-height: 100vh;
  background-image: url("/rider.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 60px;
}

/* Overlay effect for fading */
.bg-fade-image {
  background-image: url('/rider.webp'); 
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}
.overlay-image {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background: url('/9ErWmXn2IIfOUCaXNwDeuxqJXM.png') repeat;
  pointer-events: none; 
  opacity: 0.4; 
  z-index: 20;
}