@import "tailwindcss";

body {
  background-image:
   url("../public/rider.webp");
   height: fit-content;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode: multiply;
}
.overlay-image {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url('../public/9ErWmXn2IIfOUCaXNwDeuxqJXM.png') center/cover no-repeat;
  z-index: 9999;
  pointer-events: none; /* Allows interaction with elements underneath */
  opacity: 0.4; /* Adjust transparency as needed */
}
